/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header */

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 64px;
}

.menu__section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__section.left .menu__icon {
  padding: 12px 16px;
}

.menu__link {
  padding: 12px 8px;

  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #757575;
}

.menu__link.active {
  border-bottom: 2px solid #4285F4;
  color: #4285F4;
}

.menu__link:not(.active) {
  margin-bottom: 2px;
}

.menu__section.right {
  margin-right: 12px;
}

.menu__section.right .menu__icon {
  padding: 12px;
}

.menu__profile {
  position: relative;

  width: 40px;
  height: 40px;
  padding: 4px;
}

.menu__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.menu__avatar--frame {
  position: absolute;
  top: 0;
  right: 0;
}

/* Main */

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  padding: 56px 8px 0;
}

.content__logo {
  height: 56px;
}

.content__section.search {
  display: flex;
  flex-direction: row;
  position: relative;

  width: 100%;
  padding: 8px 0 0 0;
}

.content__search {
  width: 100%;
  height: 32px;
  padding: 4px 32px 4px 24px;
  margin-top: 18px;
  border: 1px solid #DADCE0;
  border-radius: 25px;
  outline: 0;

  font-size: 16px;
  color: rgba(0, 0, 0, 0.74);
  background: transparent;
}

.content__search:focus {
  border: 1px solid #FEB729;
}

.content__search--icon {
  position: absolute;
  top: 32px;
  right: 12px;

  height: 20px;
  width: 20px;
}

.content__offer {
  padding: 6px 12px;
  margin-top: 24px;

  font-size: 12px;
  color: rgba(0, 0, 0, 0.64);
}

.content__offer a {
  text-decoration: none;
  color: #058FD0;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;

  margin-top: 24px;

  background: #F2F2F2;
}

.footer__section:not(:first-child) {
  border-top: 1px solid #E4E4E4;
}

.footer__location {
  padding: 10px 12px;

  font-size: 16px;
  color: #5F6368;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;

  font-size: 13px;
  color: #5F6368;
}

.footer__links a:not(:first-child) {
  margin-left: 26px;
}

/* Table */

@media (min-width: 760px) {
  .content {
    padding: 128px 64px;
  }

  .content__logo {
    height: 128px;
  }
}
