/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 48px;
}

.menu__section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__section.left .menu__icon {
  padding: 12px 16px;
}

.menu__link {
  padding: 12px 8px;

  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #757575;
}

.menu__link.active {
  border-bottom: 2px solid #4285F4;
  color: #4285F4;
}

.menu__link:not(.active) {
  margin-bottom: 2px;
}

.menu__section.right {
  margin-right: 4px;
}

.menu__section.right .menu__icon {
  padding: 12px;
}

.menu__profile {
  position: relative;

  width: 40px;
  height: 40px;
  padding: 4px;
}

.menu__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.menu__avatar--frame {
  position: absolute;
  top: 0;
  right: 0;
}
